<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		
<head>
	<meta charset="UTF-8">
	<title>Library - Change Password</title>
	<link rel="stylesheet" th:href="@{${theme}}">
</head>

<body>
	
	<div class="grid">
		<div th:switch="${isLoggedIn}" 
				style="text-align: right;" 
				class="block" id="pageHeader">
			
			<form th:case="false" th:method="get" th:action="@{/login}">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}">
				<b><span class="withoutUserNameLink">никого нет в системе</span></b>
				<button>Войти в систему</button>
			</form>
			
			<form th:case="true" th:method="post" th:action="@{/my-logout}">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}">
				<b><span class="withUserNameLink" 
						th:text="${username} + ' аутентифицирован'"></span></b>
				<button>Выйти из системы</button>
			</form>
			
		</div>
		<div class="block" id="navArea">NAVIGATION</div>
		
		<div class="areaForData" id="articleArea">
			<h2>Изменение пароля</h2>
			
			<form th:method="post" th:action="@{/users/password}" th:object="${temporaryUser}">
				
				<input type="hidden" name="_csrf" th:value="${_csrf.token}">
				
				<label for="username"><b>Имя пользователя (аккаунт):</b></label>
				<input readonly="readonly" type="text" th:field="*{username}"
						style="background-color: rgb(240,240,240);">
				<br><br>
				<label for="password">Пароль.......................................:</label>
				<input type="password" th:field="*{password}">
				<div style="color:red" 
						th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}">Error text</div>
				<br><br>
				<label for="confirm">Подтверждение пароля............:</label>
				<input type="password" th:field="*{confirm}">
				<div style="color:red" 
						th:if="${#fields.hasErrors('confirm')}"
						th:errors="*{confirm}">Error text</div>
				<br><br>
				
				<!-- ***************************************************************************** -->
				<!-- Изменение   пароля  пользователя  НЕ ПРЕДПОЛАГАЕТ  редактирование   остальных -->
				<!-- атрибутов  (полного имени,  даты рожения,  телефона).  Однако в этом  шаблоне -->
				<!-- представления  потребовалось  явно  указать  эти поля (с типом "hidden"), так -->
				<!-- как  они  проверяемые  и  без  явного  их присутствия в шаблоне представления -->
				<!-- проверка объекта формы th:object="${temporaryUser}" в методе changePassword() -->
				<!-- контроллера AdminController не завершится.                                    -->
				<!-- ***************************************************************************** -->
				<input type="hidden" th:field="*{id}">
				<input type="hidden" th:field="*{fullname}">
				<input type="hidden" th:field="*{birthDate}">
				<input type="hidden" th:field="*{phoneNumber}">
				
				<button>Изменить пароль</button>
			</form>
		</div>
		
		<div class="block" id="serviceArea">SERVICES
			<br><br>
			<a th:href="@{/}">На главную страницу ...</a>
			<br><br>
		</div>
		
		<!-- Проверяется, аутентифицирован пользователь или нет -->
		<div th:switch="${isLoggedIn}" class="block" id="pageFooter">
			
			<div id="bottomAppNote">
				<b><span>The Application "My own library".<br>Author: Ruslan G. Orlov</span></b>
			</div>
			
			<div id="bottomStatArea">
				<b><span th:text="${curUriStat}"></span></b>
			</div>
			
			<!-- Пользователь НЕ аутентифицирован и кнопки НЕ доступны для нажатия -->
			<div th:case="false" class="inlineBlock">
				<form class="inlineBlock" th:method="get" th:action="@{/prev}">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}">
					<button disabled="disabled">
						<img alt="Prev Uri" 
							th:src="@{/images/main-arrow-left-disabled.png}" 
							width="35px" height="20px">
					</button> 
				</form>
				<form class="floatRight" th:method="get" th:action="@{/next}">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}">
					<button disabled="disabled">
						<img alt="Next Uri" 
							th:src="@{/images/main-arrow-right-disabled.png}" 
							width="35px" height="20px">
					</button>
				</form>
			</div>
			
			<!-- Пользователь аутентифицирован и кнопки доступны для нажатия -->
			<div th:case="true" class="inlineBlock">
				<form class="inlineBlock" th:method="get" th:action="@{/prev}">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}">
					<button>
						<img alt="Prev Uri" 
							th:src="@{/images/main-arrow-left.png}" 
							width="35px" height="20px">
					</button> 
				</form>
				<form class="floatRight" th:method="get" th:action="@{/next}">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}">
					<button>
						<img alt="Next Uri" 
							th:src="@{/images/main-arrow-right.png}" 
							width="35px" height="20px">
					</button>
				</form>
			</div>
		</div>
	</div>
	
</body>

</html>