<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Library - View User</title>
	<link rel="stylesheet" th:href="@{${theme}}">
</head>

<body>
	
	<div class="grid">
		<div th:switch="${isLoggedIn}" 
				style="text-align: right;" 
				class="block" id="pageHeader">
			
			<form th:case="false" th:method="get" th:action="@{/login}">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}">
				<b><span class="withoutUserNameLink">никого нет в системе</span></b>
				<button>Войти в систему</button>
			</form>
			
			<form th:case="true" th:method="post" th:action="@{/my-logout}">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}">
				<b><a class="withUserNameLink" 
						th:text="${username} + ' аутентифицирован'"
						th:href="${'/users/' + currentUserId + '/password'}"></a></b>
				<button>Выйти из системы</button>
			</form>
			
		</div>
		<div class="block" id="navArea">NAVIGATION</div>
		
		<div class="areaForData" id="articleArea">
			<h2>Карточка пользователя</h2>
			<table border="2" cellpadding="5">
				<tr>
					<th align="right">Id</th>
					<td th:text="${user.getId()}">
				</tr>
				<tr>
					<th align="right">Аккаунт</th>
					<td th:text="${user.getUsername()}">
				</tr>
				<tr>
					<th align="right">Имя пользователя</th>
					<td th:text="${user.getFullname()}">
				</tr>
				<tr>
					<th align="right">Дата рождения</th>
					<td th:text="${user.getBirthDate()}">
				</tr>
				<tr>
					<th align="right">Телефон</th>
					<td th:text="${user.getPhoneNumber()}">
				</tr>
				<tr>
					<th align="right">Дата регистрации в БД</th>
					<td th:text="${#temporals.format(user.getCreateDate(), 'dd-MM-yyyy HH:mm')}">
				</tr>
				<tr th:switch="${user.getUserAuthorities() == null or user.getUserAuthorities().isEmpty()}">
					<th style="text-align: right; vertical-align: top;" >Роли</th>
					<td th:case="true" th:text="'Не определены / Undefined'">
					<td th:case="*">
						<ul style="padding-left: 20px; margin: 0px;" th:each="authority : ${user.getUserAuthorities()}">
							<li th:text="${authority.authority.name()}">
						</ul>
					</td>
				</tr>
				<tr>
					<td align="right" colspan="2"> 
						<a th:href="@{/users}">Вернуться</a> </td>
				</tr>
			</table>
		</div>
		
		<div class="block" id="serviceArea">SERVICES
			<br><br>
			<a th:href="@{/}">На главную страницу ...</a>
			<br><br>
			<a th:href="@{/users}">К списку пользователей ...</a>
			<br><br>
		</div>
		
		<!-- Проверяется, аутентифицирован пользователь или нет -->
		<div th:switch="${isLoggedIn}" class="block" id="pageFooter">
			
			<div id="bottomAppNote">
				<b><span>The Application "My own library".<br>Author: Ruslan G. Orlov</span></b>
			</div>
			
			<div id="bottomStatArea">
				<b><span th:text="${curUriStat}"></span></b>
			</div>
			
			<!-- Пользователь НЕ аутентифицирован и кнопки НЕ доступны для нажатия -->
			<div th:case="false" class="inlineBlock">
				<form class="inlineBlock" th:method="get" th:action="@{/prev}">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}">
					<button disabled="disabled">
						<img alt="Prev Uri" 
							th:src="@{/images/main-arrow-left-disabled.png}" 
							width="35px" height="20px">
					</button> 
				</form>
				<form class="floatRight" th:method="get" th:action="@{/next}">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}">
					<button disabled="disabled">
						<img alt="Next Uri" 
							th:src="@{/images/main-arrow-right-disabled.png}" 
							width="35px" height="20px">
					</button>
				</form>
			</div>
			
			<!-- Пользователь аутентифицирован и кнопки доступны для нажатия -->
			<div th:case="true" class="inlineBlock">
				<form class="inlineBlock" th:method="get" th:action="@{/prev}">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}">
					<button>
						<img alt="Prev Uri" 
							th:src="@{/images/main-arrow-left.png}" 
							width="35px" height="20px">
					</button> 
				</form>
				<form class="floatRight" th:method="get" th:action="@{/next}">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}">
					<button>
						<img alt="Next Uri" 
							th:src="@{/images/main-arrow-right.png}" 
							width="35px" height="20px">
					</button>
				</form>
			</div>
		</div>
	</div>
	
</body>

</html>